body {
  background: #ffffff;
  color: #333;
  font-family: Lato, sans-serif;
  display: flex;
  justify-content: center;
  color: #333;
  font-family: Lato, sans-serif;
  overflow-x: hidden;
}

.container {
  display: block;
  margin: 5% auto 0;
}

ul {
  margin: 0px;
  padding: 0;
}

input + label,
button {
  outline: none;
}

input[type="text"]:focus,
input:focus,
input[type="checkbox"]:focus,
button:focus {
  border-style: groove;
  border-color: rgb(0, 255, 242);
  border-width: 2px;
}

button {
  background: none;
  border: 0px;
  color: #888888;
  font-size: 15px;
  width: 60px;
  margin: 10px 0 0;
  font-family: Lato, sans-serif;
  cursor: pointer;
}

button :hover {
  color: #333;
}

/* Heading */

h3 {
  clear: both;
  list-style: none;
  color: #333333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0px;
  text-transform: uppercase;
}
label[for="new-task"] {
  color: #333333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0px;
  text-transform: uppercase;
  display: block;
  margin: 0 0 20px;
}
input[type="text"] {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 18px;
  padding: 10px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}

input[type="text"] :focus {
  color: #333;
}

/* New Task */

input#new-task {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 280px;
}

html body p > button :hover {
  color: #0fc57c;
}

/* Task list */

li {
  clear: both;
  list-style: none;
  overflow: hidden;
  padding: 20px 0px;
  border-bottom: 1px solid #eee;
}
li * {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
li > input[type="checkbox"] {
  margin: 0 10px;
  position: relative;
}

li > label {
  font-size: 18px;
  line-height: 40px;
  width: 200px;
  padding: 0 0 0 11px;
}

li > input[type="text"] {
  width: 190px;
}

li > .delete :hover {
  color: #cf2323;
}

/* Completed */

#completed-tasks label {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */
#new-task-label {
  display: block;
  margin: 0 0 20px;
}

fieldset {
  border: none;
}
ul li input[type="text"] {
  display: none;
}

ul li.editMode input[type="text"] {
  display: block;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

ul li.editMode label {
  display: none;
}
#incomplete-tasks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

@media (max-width: 380px) {
  .container {
    width: 100%;
  }
  li > label {
    width: 150px;
  }
  input#new-task {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: table-row;
    width: 200px;
  }
  li > input[type="text"] {
    width: 150px;
  }
  ul li.editMode input[type="text"] {
    width: 140px;
  }
}
