html body {
  background: #ffffff;
  color: #333;
  font-family: Lato, sans-serif;

  .container {
    position: relative;
    width: 600px;
    margin: 5% auto 0;
  }

  ul {
    margin: 0px;
    padding: 0;
  }

  li {
    * {
      display: flex;
      flex-direction: row;
    }

    clear: both;
    list-style: none;
    overflow: hidden;
  }

  h3 {
    clear: both;
    list-style: none;
  }

  input {
    outline: none;
  }

  button {
    outline: none;
    background: none;
    border: 0px;
    color: #888888;
    font-size: 15px;
    width: 60px;
    margin: 10px 0 0;
    font-family: Lato, sans-serif;
    cursor: pointer;

    :hover {
      color: #333;
    }
  }

  h3,
  label[for="new-task"] {
    color: #333333;
    font-weight: 700;
    font-size: 15px;
    border-bottom: 2px solid #333;
    padding: 30px 0 10px;
    margin: 0px;
    text-transform: uppercase;
  }

  input {
    &[type="text"] {
      margin: 0;
      font-size: 18px;
      line-height: 18px;
      height: 18px;
      padding: 10px;
      border: 1px solid #ddd;
      background: #fff;
      border-radius: 6px;
      font-family: Lato, sans-serif;
      color: #888;

      :focus {
        color: #333;
      }
    }

    &#new-task {
      display: flex;
      flex-direction: column;
      width: 318px;
    }
  }

  p > button :hover {
    color: #0fc57c;
  }

  li {
    overflow: hidden;
    padding: 20px 0px;
    border-bottom: 1px solid #eee;

    > {
      input[type="checkbox"] {
        margin: 0 10px;
        position: relative;
        top: 15px;
      }

      .delete :hover {
        color: #cf2323;
      }
    }
  }

  #completed-tasks label {
    text-decoration: line-through;
    color: #888;
  }

  ul li {
    input[type="text"] {
      display: none;
    }

    &.editMode {
      input[type="text"] {
        display: block;
      }

      label {
        display: none;
      }
    }
  }
}

/* Heading */

/* New Task */

/* Task list */

/* Completed */

/* Edit Task */

@media screen and (max-width: 1024px) {
  html body {
    .container,
    .label {
      width: 375px;
      margin: 0;
    }
  }
}
